.calc_mian{
    width: 100%;
    height: 120%;
    background-color:#69ab8a;
}

.calculator{
    margin-top: 150px;
    margin: auto;
    width: 90%;
    height: 80%;
    
}

.contact_footer{
    margin-top: 100px;
}